
# no mac stuff in the git
*~
.AppleDouble
.LSOverride
.DS_Store
**/.DS_Store
__MACOSX
**/__MACOSX

# no windows stuff either
desktop.ini
**/desktop.ini

#no data files
BCMecog/
temp/
data/
misc/
References/
readingECoG-raw/
code/brainvisionEEGconverter.m
code/plot_bb_dh.m

# No matlab metafiles
*.m~
*.asv
*.ps

# Do not save data files
*.mat

